@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
}

.chat-ui {
  display: flex;
  height: 100vh;
}

.chat-users {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 2rem 1.5rem;
  padding-bottom: 0rem;
}
.chat-users__user {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.chat-users__user-details {
  margin-left: 1rem;
}
.chat-users__user-details h4 {
  font-weight: 500;
  color: #043caf;
}
.chat-users__user-details p {
  color: grey;
  font-size: 0.8rem;
}
.chat-users__user-edit {
  margin-left: auto;
  align-self: flex-start;
  font-size: 1.2rem;
  color: grey;
  cursor: pointer;
}
.chat-users__user-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}
.chat-users__search {
  position: relative;
  margin-bottom: 1.5rem;
}
.chat-users__search input {
  font-family: inherit;
  padding: 0.5rem 1rem;
  padding-left: 2.75rem;
  border: none;
  border-radius: 5rem;
}
.chat-users__search input::placeholder {
  font-size: 0.8rem;
}
.chat-users__search input:focus {
  outline: none;
  border: none;
}
.chat-users__search i {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  color: grey;
  cursor: pointer;
}
.chat-users__friends-container {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 -1.5rem;
}
.chat-users__friends {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 1.5rem;
}
.chat-users__friend {
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
  height: 5rem;
  padding: 0 1.5rem;
}
.chat-users__friend:hover {
  background-color: #fff;
}
.chat-users__friend-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.chat-users__friend-details {
  width: 12rem;
  margin-left: 1rem;
}
.chat-users__friend-details h4 {
  font-weight: 500;
  color: #043caf;
}
.chat-users__friend-details p {
  font-size: 0.6rem;
  color: grey;
}
.chat-users__updates {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat-users__time {
  color: grey;
}
.chat-users__status {
  color: #043caf;
  font-size: 1rem;
}
.chat-users__status--unread {
  font-size: 0.55rem;
  background-color: #043caf;
  color: #fff;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  text-align: center;
}

.chat-msgs {
  flex-basis: 50%;
  padding: 0 1.5rem;
}
.chat-msgs__header {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  height: 12vh;
}
.chat-msgs__user {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.chat-msgs__user-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.chat-msgs__user-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0.7rem;
}
.chat-msgs__online {
  height: 0.6rem;
  width: 0.6rem;
  background-color: #14cd46;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.chat-msgs__icons {
  /* margin-left: auto; */
}
.chat-msgs__icons i {
  font-size: 1.5rem;
  margin: 0 0.25rem;
  color: rgba(125, 125, 125, 0.5);
}
.chat-msgs__divider {
  height: 1px;
  width: 100%;
  background-color: rgba(125, 125, 125, 0.2);
}
.chat-msgs__display {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-msgs__send {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.chat-msgs__send-msg {
  position: relative;
  display: flex;
  align-items: center;
}
.chat-msgs__send-msg input {
  padding: 1rem 3rem;
  padding-right: 9rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  background-color: rgba(125, 125, 125, 0.1);
  width: 40rem;
  font-family: inherit;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.chat-msgs__send-msg input::placeholder {
  font-size: 1rem;
}
.chat-msgs__send-icons {
  /* position: relative; */
  display: flex;
}
.chat-msgs__send-icons i {
  font-size: 1.5rem;
  margin: 0 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.chat-msgs__send-icons #mic {
  position: absolute;
  left: 1rem;
  bottom: 25%;
}
.chat-msgs__send-icons #send {
  color: #fff;
  background-color: #043caf;
  padding: 1rem;
  border-radius: 50%;
}
.chat-msgs__icons-right {
  position: absolute;
  display: flex;
  align-items: center;
  right: -1.2rem;
  bottom: 1%;
}

/*# sourceMappingURL=style.css.map */
