@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
}

.chat-ui {
  display: flex;
  height: 100vh;
}

.chat-users {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 2rem 1.5rem;
  padding-bottom: 0rem;
}
.chat-users__user {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.chat-users__user-details {
  margin-left: 1rem;
}
.chat-users__user-details h4 {
  font-weight: 500;
  color: #5463ff;
}
.chat-users__user-details p {
  color: grey;
  font-size: 0.8rem;
}
.chat-users__user-edit {
  margin-left: auto;
  align-self: flex-start;
  font-size: 1.2rem;
  color: grey;
  cursor: pointer;
}
.chat-users__user-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}
.chat-users__search {
  position: relative;
  margin-bottom: 1.5rem;
}
.chat-users__search input {
  font-family: inherit;
  padding: 0.5rem 1rem;
  padding-left: 2.75rem;
  border: none;
  border-radius: 5rem;
  width: 100%;
}
.chat-users__search input::placeholder {
  font-size: 0.8rem;
}
.chat-users__search input:focus {
  outline: none;
  border: none;
}
.chat-users__search i {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  color: grey;
  cursor: pointer;
}
.chat-users__friends-container {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 -1.5rem;
}
.chat-users__friends {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 1.5rem;
}
.chat-users__friend {
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
  height: 5rem;
  padding: 0 1.5rem;
}
.chat-users__friend:hover {
  background-color: #fff;
}
.chat-users__friend-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.chat-users__friend-details {
  width: 50%;
  margin-left: 1rem;
}
.chat-users__friend-details h4 {
  font-weight: 500;
  color: #5463ff;
}
.chat-users__friend-details p {
  font-size: 0.6rem;
  color: grey;
}
.chat-users__updates {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat-users__time {
  color: grey;
  font-size: 0.7rem;
}
.chat-users__status {
  color: #5463ff;
  font-size: 1rem;
}
.chat-users__status--unread {
  font-size: 0.55rem;
  background-color: #5463ff;
  color: #fff;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  text-align: center;
}

.chat-msgs {
  flex-basis: 60%;
  padding: 0 1.5rem;
}
.chat-msgs__header {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  height: 12vh;
}
.chat-msgs__user {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.chat-msgs__user-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.chat-msgs__user-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0.7rem;
}
.chat-msgs__online {
  height: 0.6rem;
  width: 0.6rem;
  background-color: #14cd46;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.chat-msgs__icons i {
  font-size: 1.5rem;
  margin: 0 0.25rem;
  color: rgba(125, 125, 125, 0.5);
  cursor: pointer;
}
.chat-msgs__divider {
  height: 1px;
  width: 100%;
  background-color: rgba(125, 125, 125, 0.2);
}
.chat-msgs__display {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 0 1rem;
}
.chat-msgs__send {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.chat-msgs__send-msg {
  position: relative;
}
.chat-msgs__send-msg input {
  flex: 1;
  padding: 1rem 3rem;
  padding-right: 9.5rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  background-color: rgba(125, 125, 125, 0.1);
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.chat-msgs__send-msg input::placeholder {
  font-size: 1rem;
}
.chat-msgs__send-icons {
  display: flex;
  align-items: center;
}
.chat-msgs__send-icons i {
  font-size: 1.5rem;
  margin: 0 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.chat-msgs__send-icons #mic {
  position: absolute;
  left: 2%;
  top: 27%;
}
.chat-msgs__send-icons #send-btn {
  color: #fff;
  background-color: #5463ff;
  padding: 1rem;
  border-radius: 50%;
}
.chat-msgs__icons-right {
  position: absolute;
  display: flex;
  align-items: center;
  right: -0.7rem;
  bottom: 1%;
}

.msg-style {
  font-size: 1rem;
  background-color: #5463ff;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  margin-right: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
}

.msg-user-pic {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.msg-wrapper {
  margin: 1rem 0;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  max-width: 350px;
}

.msg-date-wrapper {
  margin: 0 auto;
}

.msg-date {
  color: grey;
  text-align: center;
}

.msg-date::before,
.msg-date::after {
  background-color: rgba(125, 125, 125, 0.2);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.msg-date::before {
  right: 0.5em;
  margin-left: -50%;
}

.msg-date::after {
  left: 0.5em;
  margin-right: -50%;
}

.chat-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  background-color: #f8f8f8;
  padding: 3rem 1.5rem;
}
.chat-profile__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.chat-profile__user-pic {
  width: 7rem;
  height: 7rem;
}
.chat-profile__user-details h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.65);
}
.chat-profile__user-details p {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.chat-profile__chat-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6.5rem;
  width: 100%;
  margin-top: 1rem;
}
.chat-profile__chat-icons--chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-profile__chat-icons--chat p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.2rem;
}
.chat-profile__chat-icons i {
  font-size: 2rem;
  color: #5463ff;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: rgba(84, 99, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.chat-profile__chat-icons .line {
  width: 1px;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.2);
}
.chat-profile__social {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
}
.chat-profile__social-comp {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  height: 2.5rem;
}
.chat-profile__social-comp i {
  font-size: 1.2rem;
  align-self: flex-start;
  cursor: pointer;
}
.chat-profile__social-comp p {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.chat-profile__attachments {
  font-size: 0.75rem;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-profile__attachments-heading {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.chat-profile__attachments-types {
  display: flex;
}
.chat-profile__attachments-types p {
  font-size: 0.65rem;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 1rem;
  margin-left: 0;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #5463ff;
  background-color: rgba(84, 99, 255, 0.1);
}
.chat-profile__attachments-btn {
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  align-self: center;
  margin-top: 0.8rem;
  cursor: pointer;
  background: none;
  border: 1px solid #5463ff;
  border-radius: 5rem;
  color: #5463ff;
}

/*# sourceMappingURL=style.css.map */
