@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-primary: rgba(4, 60, 175, 1);
$color-secondary: rgba(119, 172, 241, 1);
